{% extends "base.html" %}

{% block body %}
        <div class="jumbotron p-3" style="background-color:#292961;">
            <div class =" well text-container">
                <h1 style="color:#fafafa">Citizen Project  <img style="width:50px" src="/static/pics/planete-terre.svg"></h1>
            </div>
        </div>
        <div class="p-3" style="background-color:#6666c4; color:#fafafa;">Section: <a href="/index">Home   <img style="width:25px" src="/static/pics/home.svg"></a></div>
        <hr>
{% endblock %}